<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dabiaoge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E242B491E5B4F9500BE2BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E242B5D1E5B4F9500BE2BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E242B681E5B4F9500BE2BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
